* {
    box-sizing: border-box;
}

body {
    font-family: "Poor Story", Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header header header header header header' 
        'rules display display display display display' 
        'game display display display display display';
}

.header {
    grid-area: header;
    /* background-color: aqua; */
    text-align: center;
}

h1 {
    margin: 0;
    padding: 5px;
}

h2 {
    margin: 0;
}

.rules, .game, .display {
    padding: 10px;
}

.rules {
    grid-area: rules;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    grid-area: game;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.display {
    grid-area: display;
    /* background-color: green; */
}

.rules-text {
    width: 300px;
}

.game-interface {
    width: 360px;
}

.target {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.question {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

form {
    border-radius: 6px;
    box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
    margin: 10px;
    padding: 15px;
}

label {
    display: block;
}

input {
    margin-bottom: 15px;
    font-family: "Poor Story", Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 30px;
}

button {
    background-color: #fec609;
    padding: 5px 25px;
    font-size: 18px;
    font-family: "Poor Story", Arial, Helvetica, sans-serif;;
    border: #333 1px solid;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.bees-and-bubble-container {
    width: 25vw;
    height: auto;
}

.drink-img {
    width: 360px;
}

.fizz {
    width: 3em;
    height: auto;
    border-radius: 50%;
}

.buzz {
    width: 3em;
    height: auto;
    border-radius: 20%;
}

.fizzbuzz {
    width: 5em;
    height: auto;
    border-radius: 30%;
    border-style: solid;
    border-color: #fec609;
    border-width: 2px;
}

.results p {
    font-size: 18px;
}

.results-label {
    font-weight: bold;
}

#modal {
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
}

#modal:empty {
    display: none;
}

#modal > div {
    background-color: white;
    max-width: 500px;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    background: #faeff0;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-areas: 
            'header header header header header header' 
            'rules rules rules rules rules rules' 
            'game game game game game game'
            'display display display display display display';
    }
}