* {
    box-sizing: border-box;
    color: #333;
}

body {
    font-family: "Poor Story", Verdana, Tahoma, sans-serif;
    display: grid;
    height: 100%;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "r r r d d d d d d d d d"
        "g g g d d d d d d d d d"
        "g g g d d d d d d d d d"
}

.header {
    grid-area: h;
}

.rules {
    grid-area: r;
}

.gameplay {
    grid-area: g;
}

.display {
    grid-area: d;
}

h1 {
    text-align: center;
    font-size: 5vw;
}

h2 {
    text-align: center;
}

.bees-and-bubbles-container {
    width: 25vw;
    height: auto;
}

p {
    padding: 20px;
    text-align: center;
}

.fizz {
    width: 3em;
    height: auto;
    border-radius: 50%;
}

.buzz {
    width: 3em;
    height: auto;
    border-radius: 20%;
}

.fizzbuzz {
    width: 5em;
    height: auto;
    border-radius: 20%;
    border-color: yellow;
    border-radius: 2px;
}

.drink-img {
    width: 20vw;
    height: auto;
}

.target {
    font-size: 5vw;
}