* {
    box-sizing: border-box;
}

body {
    font-family: "Poor Story", Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header header header header header header' 
        'rules rules display display display display' 
        'game game display display display display'
        'footer footer footer footer footer footer';
}

.header {
    grid-area: header;
    background-color: aqua;
    padding: 10px;
    text-align: center;
}

.rules, .game, .display {
    padding: 10px;
}

.rules {
    grid-area: rules;
    background-color: pink;
    text-align: center;
}

.game {
    grid-area: game;
    background-color: red;
    text-align: center;
}

.display {
    grid-area: display;
    background-color: green;
}

.bees-and-bubble-container {
    width: 25vw;
    height: auto;
}

.footer {
    grid-area: footer;
    background-color: purple;
    padding: 10px;
    text-align: center;
}

.drink-img {
    width: 20vw;
    height: auto;
}

.fizz {
    width: 3em;
    height: auto;
    border-radius: 50%;
}

.buzz {
    width: 3em;
    height: auto;
    border-radius: 20%;
}

.fizzbuzz {
    width: 5em;
    height: auto;
    border-radius: 30%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-areas: 
            'header header header header header header' 
            'rules rules rules rules rules rules' 
            'game game game game game game'
            'display display display display display display' 
            'footer footer footer footer footer footer';
    }
}